<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml" xmlns:th="http:/ /www.thymeleaf.org">

<head>
	<title>Dogoo Cloud</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class="bg-light">
	
	<div class="container">
		
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" th:src="@{/images/logo.png}" width="72" height="72"> 
			<h2>Product Management</h2>
			
			<p class="lead">
				Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
			</p>
		</div>
		
		<form>
			<h4 class="mb-3">Add product</h4>
			
			<div class="form-group">
				<label for="productName">Product Name</label>
				<input type="text" class="form-control" id="productName">
			</div>
			
			<div class="form-group">
				<label for="shortDescription">Short Description</label>
				<input type="text" class="form-control" id="shortDescription">
			</div>
			
			<div class="form-group">
				<label for="fullDescription">Description</label>
				<textarea class="form-control" id="fullDescription"> </textarea>
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>		
		</form>
	</div>

</body>