<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml" xmlns:th="http:/ /www.thymeleaf.org">

<head>
	<title>Dogoo Store</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" >
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="bg-light">
	
	<div class="container">
		
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" th:src="@{/images/logo.png}" width="72" height="72"> 
			<h2>Product Management</h2>
			
			<p class="lead">
				Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
			</p>
		</div>
		
		<form method="post" th:action="@{/products/admin/add}" th:object="${product}">
			<h4 class="mb-3">Add product</h4>
			
			<input type="hidden" th:field="*{id}">
			
			<div th:if="${#fields.hasAnyErrors()}" class="mb-2">
				<span class="validationError">Please correct the problems below and resubmit..</span>
			</div>
			
			<div class="form-group mb-3">
				<label for="productName">Product Name</label>
				
				<input type="text" class="form-control" id="productName" th:field="*{name}">

				<span class="validationError" 
									th:if="${#fields.hasErrors('name')}" 
									th:errors="*{name}">Name error</span>
			</div>
			
			<div class="form-group mb-3">
				<label for="category">Product category</label>
				<select class="form-control" id="category" th:field="*{cateId}">
					<option value="0"> -- select -- </option>
					<option th:each="cate : ${categories}" th:value="${cate.id}" th:text="${cate.name}"></option>
				</select>

				<span class="validationError" 
									th:if="${#fields.hasErrors('cateId')}" 
									th:errors="*{cateId}">cateId error</span>
			</div>
			
			<div class="form-group mb-3">
				<label for="shortDescription">Short Description</label>
				<input type="text" class="form-control" id="shortDescription" th:field="*{shortDescription}">

				<span class="validationError" 
									th:if="${#fields.hasErrors('shortDescription')}" 
									th:errors="*{shortDescription}">shortDescription error</span>
			</div>
			
			<div class="form-group mb-3">
				<label for="fullDescription">Description</label>
				<textarea class="form-control" id="fullDescription" th:field="*{description}"> </textarea>

				<span class="validationError" 
									th:if="${#fields.hasErrors('description')}" 
									th:errors="*{description}">description error</span>
			</div>

			<div class="form-group mb-3">
				<label for="price">Price</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					
					<input type="text" id="price" class="form-control" aria-label="Amount (to the nearest dollar)" th:field="*{price}">
					
					<div class="input-group-append">
						<span class="input-group-text">.00</span>
					</div>
				</div>

				<span class="validationError" 
									th:if="${#fields.hasErrors('price')}" 
									th:errors="*{price}">price error</span>
			</div>
			
			<span th:if="${product.id == 0}">
				<button type="submit" class="btn btn-primary">Add</button>	
			</span>
			<span th:unless="${product.id == 0}">
				<button type="submit" name="new" class="btn btn-primary" th:formaction="@{/products/admin/update}">Update</button>
			</span>
		</form>
	</div>

</body>