<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml" xmlns:th="http:/ /www.thymeleaf.org">

<head>
	<title>Dogoo Store</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" >
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body class="bg-light">
	
	<div class="container">
		
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4" th:src="@{/images/logo.png}" width="72" height="72"> 
			<h2>Product Management</h2>
			
			<p class="lead">
				Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
			</p>
		</div>
		
		<a th:href="@{/products/admin/add}" class="btn btn-primary mb-3"> Add Product </a>
		
		<table class="table">
			<thead>
				<tr>
					<th scope="col" class="">#</th>
					<th scope="col">Name</th>
					<th scope="col">Short Desc</th>
					<th scope="col">Category</th>
					<th scope="col">Price</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod : ${products}">
					<th scope="row" th:text="${prod.id}">id</th>
					<td th:text="${prod.name}">name</td>
					<td th:text="${prod.shortDescription}">short</td>
					<td th:text="${prod.category.name}">cate-name</td>
					<td th:text="${prod.price}">price</td>
					<td >
						<a th:href="@{/products/admin/update/{id}(id=${prod.id})}" class="btn btn-success"> Update </a>
					</td>
				</tr>
			</tbody>
		</table>

		
		
	</div>

</body>